@mixin  navside {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #54303c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
@mixin allA {
    padding:3px 3px 4px 32px;
    margin-top: 40px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

@mixin buta ($color:red, $margen:0px) {
    height: 20px;
    width: 20px;
    background: $color;
    border-radius: 15px;
    margin-left: $margen;
}